header {
  background: #69DB7C;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-size: 4rem;
  font-weight: 500;
  color: #4e9259;
}
img {
  height: 100%;
  width: 4rem;
}